@import "tailwindcss";

/* Custom Theme */
@theme {
  --font-primary: "Arial";

  --color-background: #0a0c14;
  --color-background-dark: #111827;
  --color-foreground: #f8fafc;
  --color-soft: #d1d9e6;
  --color-primary: #6366f1;
  --color-primary-glow: #a5b4fc;
  --color-secondary: #262626;
  --color-accent: #a855f7;

  --color-success: #059669;
  --color-warning: #f97316;
  --color-destructive: #ef4444;

  --color-muted: #1f2937;
  --color-border: #374151;
}

/* Just For Now */
body {
  @apply bg-background flex justify-center;
}
/* Just For Now */
* {
  @apply font-primary;
}
#container {
  @apply px-15 w-[99vw] bg-[url(./assets/images/background.png)] bg-contain bg-no-repeat;
}

/* Headings */

/** Default **/
h1 {
  @apply text-7xl font-bold text-center;
}
h2 {
  @apply text-5xl font-bold text-center text-foreground;
}
h3 {
  @apply text-xl font-semibold text-foreground;
}
h5 {
  @apply text-lg font-semibold text-foreground;
}
/** Specific **/
h1#firstLine {
  @apply text-primary;
}
h1#lastLine {
  @apply text-foreground;
}
h2#lastLine {
  @apply my-2 text-accent;
}
#banner h2 {
  @apply text-start w-xl;
}
/*==========*/

/* Paragraphs */

/** Default **/
p {
  @apply text-xl font-normal text-soft text-center;
}
/** Specific **/
#ftCardsContainer p,
#usCardsContainer p {
  @apply text-start text-base;
}
footer p {
  @apply text-base text-primary-glow;
}
/*==========*/

/* Buttons */

/** Default **/
button {
  @apply text-foreground font-bold px-6 py-2 rounded-xl flex items-center cursor-pointer border-2 border-transparent transition-all;
}
/** Specific **/
button#primary {
  @apply bg-primary hover:bg-transparent hover:border-foreground;
}
button#secondary {
  @apply bg-background-dark hover:bg-transparent hover:border-foreground;
}
/*==========*/

/* Links */

/** Default **/
a {
  @apply text-base text-primary-glow;
}
/** Specific **/

/*==========*/

/* Sections */
section {
  @apply my-62;
}

/* Header */
header {
  @apply flex items-center justify-between py-2;
}
header a {
  @apply text-foreground font-bold m-6 py-2 border-b border-transparent transition-all hover:text-accent hover:border-accent;
}
header button {
  @apply px-4 py-1 hover:scale-105;
}

/* Hero Section */
#hero p {
  @apply w-md mx-auto my-5;
}
#hero button {
  @apply mx-auto hover:-translate-y-3;
}
#hero button #icon {
  @apply ml-2;
}

/* Features Section */
section#features {
  @apply mt-120;
}
#features #subTitle {
  @apply w-lg mx-auto my-5;
}
#ftCardsContainer {
  @apply mt-25 flex items-start justify-evenly;
}
#ftCardsContainer #card {
  @apply p-4 rounded-xl w-75 transition-all cursor-pointer hover:scale-110;
}
#ftCardsContainer #card:hover #iconContainer {
  @apply shadow-xl shadow-primary-glow/15;
}
#ftCardsContainer #iconContainer {
  @apply w-26 mx-auto bg-gradient-to-br from-accent to-primary p-4 rounded-full;
}
#ftCardsContainer #icon {
  @apply mx-auto text-7xl text-foreground;
}
#ftCardsContainer h3 {
  @apply text-center mt-6 mb-2;
}
#ftCardsContainer p {
  @apply text-center mx-2;
}

/* WhyUs Section */
#whyUs p#subTitle {
  @apply w-3xl mx-auto my-5;
}
#usCardsContainer {
  @apply mt-25 grid grid-cols-2 gap-y-8;
}
#usCardsContainer #card {
  @apply bg-background-dark p-6 mx-8 flex items-start justify-between rounded-xl transition-all hover:shadow-lg hover:scale-110 shadow-primary/50;
}
#usCardsContainer #icon {
  @apply text-primary text-4xl mr-5;
}
#usCardsContainer p {
  @apply text-primary-glow;
}

/* Banner */
#banner {
  @apply w-[75vw] mx-auto bg-gradient-to-br from-accent to-primary p-10 rounded-br-4xl rounded-tl-4xl;
}
#banner h6 {
  @apply text-xl font-bold;
}
#banner h2 {
  @apply my-8;
}
#banner button #icon {
  @apply ml-2;
}
#banner button {
  @apply hover:translate-x-5 hover:scale-110;
}

/* Calendar */
.sx-react-calendar-wrapper {
  @apply w-[1000px] max-w-[100vw] h-[800px] max-h-[90vh];
}
