@import "tailwindcss";

/* Custom Theme */
@theme {
  --font-primary: "Arial";

  --color-background: #0a0c14;
  --color-background-dark: #111827;
  --color-foreground: #f8fafc;
  --color-soft: #d1d9e6;
  --color-primary: #6366f1;
  --color-primary-glow: #a5b4fc;
  --color-secondary: #262626;
  --color-accent: #a855f7;

  --color-success: #059669;
  --color-warning: #f97316;
  --color-destructive: #ef4444;

  --color-muted: #1f2937;
  --color-border: #374151;
}

/* =================== Initial Style =================== */
* {
  @apply font-primary;
}
body {
  @apply bg-gradient-to-br from-background to-background-dark;
}
#container {
  @apply px-15 w-[99vw] bg-[url(./assets/images/background.png)] bg-contain bg-no-repeat;
}
#featuresContainer {
  @apply w-[99vw];
}

/* Headings */

/** Default **/
h1 {
  @apply text-7xl font-bold text-center text-foreground;
}
h2 {
  @apply text-5xl font-bold text-center text-foreground;
}
h3 {
  @apply text-xl font-semibold text-foreground;
}
h5 {
  @apply text-lg font-semibold text-foreground;
}
/** Specific **/
h1#firstLine {
  @apply text-primary;
}
h2#lastLine {
  @apply my-2 text-accent;
}
/*==========*/

/* Paragraphs */
p {
  @apply text-xl font-normal text-soft text-center;
}
/*==========*/

/* Buttons */

/** Default **/
button {
  @apply text-foreground font-bold px-6 py-2 rounded-xl flex items-center cursor-pointer border-2 border-transparent transition-all;
}
/** Specific **/
button#primary {
  @apply bg-primary hover:bg-transparent hover:border-foreground;
}
button#secondary {
  @apply bg-background-dark hover:bg-transparent hover:border-foreground;
}
/*==========*/

/* Links */
a {
  @apply text-base text-primary-glow transition-all;
}
/*==========*/

/* input */
input {
  @apply bg-background px-5 py-2 text-xl outline-0 rounded-3xl text-foreground;
}
/*==========*/

/* Sections */
section {
  @apply my-62;
}
/*==========*/
/* ===================================================== */

/* =================== Landing Page =================== */
/* Header */
header {
  @apply flex items-center justify-between py-2;
}
header img {
  @apply cursor-pointer;
}
header a {
  @apply text-foreground font-bold m-6 py-2 border-b border-transparent transition-all hover:text-accent hover:border-accent;
}
header button {
  @apply px-4 py-1 hover:scale-105;
}

/* Hero Section */
#hero p {
  @apply w-md mx-auto my-5;
}
#hero button {
  @apply mx-auto hover:-translate-y-3;
}
#hero button #icon {
  @apply ml-2;
}

/* Features Section */
section#features {
  @apply mt-120;
}
#features #subTitle {
  @apply w-lg mx-auto my-5;
}
#ftCardsContainer {
  @apply mt-25 flex items-start justify-evenly;
}
#ftCardsContainer #card {
  @apply px-6 py-12 rounded-xl w-65 transition-all cursor-pointer hover:scale-110 bg-background-dark hover:shadow-xl shadow-primary-glow/10;
}
#ftCardsContainer #icon {
  @apply mx-auto text-7xl text-primary;
}
#ftCardsContainer h3 {
  @apply text-center mt-8 mb-2;
}
#ftCardsContainer p {
  @apply text-center mx-2 text-base;
}

/* WhyUs Section */
#whyUs p#subTitle {
  @apply w-3xl mx-auto my-5;
}
#usCardsContainer {
  @apply mt-25 grid grid-cols-2 gap-y-8;
}
#usCardsContainer #card {
  @apply bg-background-dark p-6 mx-8 flex items-start justify-between rounded-xl transition-all hover:shadow-lg hover:scale-110 shadow-primary-glow/10;
}
#usCardsContainer #icon {
  @apply text-primary text-4xl mr-5;
}
#usCardsContainer p {
  @apply text-primary-glow text-start text-base;
}

/* Banner */
#banner {
  @apply w-[75vw] mb-10 mx-auto bg-gradient-to-br from-accent to-primary p-10 rounded-br-4xl rounded-tl-4xl;
}
#banner h6 {
  @apply text-xl font-bold;
}
#banner h2 {
  @apply text-start w-xl my-8;
}
#banner button #icon {
  @apply ml-2;
}
#banner button {
  @apply hover:translate-x-5 hover:scale-110;
}

/* Footer */
footer {
  @apply mt-50;
}
footer #footerContent {
  @apply flex items-start justify-around px-12 mb-5;
}
footer img {
  @apply cursor-pointer;
}
footer #iconContainer {
  @apply flex items-center justify-evenly;
}
footer #icon {
  @apply text-accent text-2xl hover:text-primary transition-all;
}
#footerContent h5 {
  @apply mb-6;
}
#footerContent a {
  @apply block my-2 hover:text-primary;
}
footer p {
  @apply p-2 text-base text-border;
}
/* ==================================================== */

/* =================== Features =================== */
#featuresContent {
  @apply py-20;
}
#featuresContainer p {
  @apply text-primary-glow;
}
/* fix the p color */
#featuresContainer footer p {
  @apply text-border;
}

/* Nav */
nav {
  @apply px-15 flex items-center justify-between py-2 bg-background;
}
nav a {
  @apply px-4 py-2 mx-4 font-bold text-foreground hover:text-accent;
}
nav a.active {
  @apply bg-gradient-to-br from-accent to-primary rounded-xl hover:text-foreground;
}
nav a.active2 {
  @apply border-accent text-accent border-b-2 px-1;
}

/* To-Do List */
#todoList {
  @apply flex flex-col items-center justify-between gap-4 w-[40vw] p-4 mx-auto my-20 rounded-xl bg-background-dark text-foreground;
}
#todoList input {
  @apply w-[100%];
}
#tasksContainer {
  @apply bg-background rounded-xl w-[100%];
}
#tasksContainer #task {
  @apply px-6 py-4 w-[100%] flex items-center justify-between border-b border-border;
}
#tasksContainer #task div {
  @apply flex items-start;
}
#tasksContainer #task:last-child {
  border-radius: 10px;
}
#task #check {
  @apply mr-10 border-2 border-accent rounded-full p-1 cursor-pointer;
}
#task #check #icon {
  @apply text-sm text-accent;
}
#task span {
  @apply font-normal text-soft w-[85%];
}
#task #closeIcon {
  @apply cursor-pointer text-xl hidden;
}
#task:hover #closeIcon {
  @apply block;
}
/* When checked */
#task.complete span {
  @apply line-through text-primary-glow;
}
#task.complete #check {
  @apply bg-gradient-to-br from-accent to-primary;
}
#task.complete #check #icon {
  @apply text-foreground;
}

/* filter */
#todoList #filter {
  @apply w-[100%] flex justify-evenly bg-background p-2 rounded-xl;
}
#todoList #filter a {
  @apply text-border p-2 border-b text-center border-transparent cursor-pointer hover:text-primary-glow;
}
#todoList #filter a.clicked {
  @apply text-primary-glow border-primary-glow;
}

/* Notes */
#notesContainer {
  @apply mx-10 my-20;
}
#notesContent {
  @apply grid grid-cols-3 gap-8;
}
#notesContent #note {
  @apply bg-background-dark rounded-xl px-4 py-4 pb-18 relative transition-all hover:shadow-xl shadow-accent/10 hover:scale-105;
}
#note h3 {
  @apply text-2xl font-semibold;
}
#note p {
  @apply text-start text-sm;
}
#note button {
  @apply absolute bottom-5 right-5 bg-destructive hover:opacity-75 py-1 px-3;
}
#notesContainer #addIcon {
  @apply text-foreground text-7xl bg-gradient-to-br from-accent to-primary rounded-full fixed right-10 bottom-10 cursor-pointer transition-all hover:bg-none hover:text-accent;
}

/* ModalForm */
#noteForm {
  @apply mt-10;
}
#noteForm input {
  @apply w-full rounded-xl my-2 text-lg border border-transparent focus:border-primary;
}
#noteForm textarea {
  @apply px-5 py-2 w-full h-35 rounded-xl text-foreground my-2 text-lg bg-background resize-none outline-none border border-transparent focus:border-primary;
}
#noteForm button {
  @apply inline-flex justify-center w-full my-5 mx-auto bg-success px-3 py-2 text-sm font-semibold hover:bg-success/50;
}
/* ================================================ */

/* Calendar */
.sx-react-calendar-wrapper {
  @apply ml-5 w-[950px] max-w-[100vw] h-[800px] max-h-[90vh];
}
#calendarContent {
  @apply flex items-start justify-between my-20;
}
#calendarContent form {
  @apply mr-5 p-6 bg-background text-foreground w-[450px] rounded-xl shadow-lg hover:shadow-accent/10;
}
#calendarContent form label {
  @apply block text-sm text-primary-glow mx-2 mb-2 mt-5;
}
#calendarContent form input,
#calendarContent form textarea {
  @apply bg-background-dark w-full rounded-3xl outline-none;
}
#calendarContent form textarea {
  @apply resize-none px-4 py-2 h-[100px];
}
#calendarContent form button {
  @apply mx-auto mt-5;
}
#calendarContent form input[type="date"] {
  @apply w-45;
}
#calendarContent form input[type="time"] {
  @apply w-45;
}

/* Pomodoro */
#pomodoroContainer {
  @apply bg-background-dark w-[50%] mx-auto my-20 rounded-xl p-4;
}
#pomodoroContainer #headerIcon {
  @apply text-7xl text-accent mx-auto;
}
#pomodoroContainer h6 {
  @apply text-2xl font-bold text-foreground text-center my-2;
}
#pomodoroContainer p {
  @apply text-primary-glow mb-5;
}
#pomodoroContainer h1 {
  @apply text-8xl my-10;
}
#pomodoroContainer #progressContainer {
  @apply bg-border w-[90%] h-5 m-auto my-2 rounded-xl;
}
#pomodoroContainer #prgsPerCent {
  @apply text-base text-border;
}
#pomodoroContainer #actions {
  @apply flex items-center justify-center;
}
#pomodoroContainer button {
  @apply bg-background mx-5 my-2;
}

/* 404 */
#NotFound {
  @apply h-[97vh];
}
#NotFound button {
  @apply m-5;
}
#NotFound h1 {
  @apply text-[300px] mt-15;
}
#NotFound h3 {
  @apply text-center text-4xl;
}
